{% extends "accounts/base_accounts.html" %}

{% block page_title %}Password Reset Email Sent{% endblock page_title %}

{% block form_title %}Check Your Email{% endblock form_title %}

{% block form_content %}
<div class="text-center">
    <svg class="w-16 h-16 mx-auto text-green-500 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19h18M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9"></path>
    </svg>
    <p class="text-gray-300">
        We've sent you an email with instructions on how to reset your password.
        Please check your inbox (and spam folder, just in case).
    </p>
    <p class="mt-4 text-gray-400 text-sm">
        If you don't receive an email, please make sure you've entered the address you registered with.
    </p>
</div>
{% endblock form_content %}

{% block form_footer_links %}
    <a href="{% url 'accounts:login' %}" class="font-medium text-primary-500 hover:text-primary-400">
        Back to Login
    </a>
{% endblock form_footer_links %}
{% endraw %}