{% extends "accounts/base_accounts.html" %}

{% block page_title %}Password Changed Successfully{% endblock page_title %}

{% block form_title %}Password Changed Successfully!{% endblock form_title %}

{% block form_content %}
<div class="text-center">
    <svg class="w-16 h-16 mx-auto text-green-500 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <p class="text-gray-300">
        Your password has been successfully updated.
    </p>
</div>
{% endblock form_content %}

{% block form_footer_links %}
    <a href="{% url 'accounts:profile' %}" class="font-medium text-primary-500 hover:text-primary-400">
        Back to Profile
    </a>
{% endblock form_footer_links %}